* {
    box-sizing: border-box;
}
img {
    width: 150px;
    margin-right: 80px;
}
header {
    background-color: #ffab4b;
    display: inline-block;
    width: 100%;
    border-bottom:2px solid black;
}
header p {
    display: inline-block;
    border: 2px solid black;
    border-radius: 50%;
    margin-bottom: 20px;
    padding: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #ff4bf6;
}
#pageTitle {
    display: inline-block;
    width: 500px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Pacifico', cursive;
    cursor: url('images/salmoncursor.png'), auto;
 }

nav {
    display: inline-block;
    position: fixed;
}
ul {
    margin-top: 20px;
    
}
nav li {
    margin-bottom: 40px;
    background-color: #ff4bf6;
    border: 2px solid black;
    border-left: 0;
    border-radius: 0 10px 10px 0;
    text-align: center;
    font-family: 'Anton', sans-serif;
    box-shadow: 10px 10px 10px;
    padding: 5px;
}
li:last-child {
    margin-bottom: 0;
}
main {
    min-height: 1000px;
    background-image: radial-gradient(#544bff, #ff4bf6, #544bff);
}
#pageTitle {
   
   font-family: 'Pacifico', cursive;
}
a {
    padding: 5px;
    color: black;
    text-decoration: none;
}
nav li:hover, a:hover, button:hover {
    background-color: cornsilk;
    color: #544bff;
    overflow: hidden;
}
h1, h2 {
    text-align: center;
}
h1 {
    font-size: 40px;
}
#wallpaper {
    z-index: 1;
    position: fixed;
    top: 0;
   
    left: 0;
    right: 0;
}
header, #content, #locations {
    z-index: 2;
}
button {
    background-color: #ff4bf6;
}