* {
    box-sizing: border-box;
}

img {
    width: 150px;
    margin-right: 100px;
}
header {
    background-color: #ffab4b;
    display: inline-block;
    width: 100%;
    border-bottom:2px solid black;
}
#pageTitle {
    position: relative;
    top: -40px;
    font-family: 'Pacifico', cursive;
 }
nav {
    display: inline-block
   
}
ul {
    margin-top: 20px;
    
}
li {
    margin-bottom: 40px;
    background-color: #ff4bf6;
    border: 2px solid black;
    border-left: 0;
    border-radius: 0 10px 10px 0;
    text-align: center;
    font-family: 'Anton', sans-serif;
    box-shadow: 10px 10px 10px;
    padding: 5px;
}
main {
    min-height: 1000px;
    background-image: radial-gradient(#544bff, #ff4bf6, #544bff);
    z-index: 0;
}
#pageTitle {
   position: relative;
   top: -40px;
   font-family: 'Pacifico', cursive;
}
a {
    padding: 20px;
    color: black;
    text-decoration: none;
}
li:hover, a:hover {
    background-color: cornsilk;
    z-index: 3;
    color: #544bff;
    overflow: hidden;
}


h1, h2 {
    text-align: center;
}
h1 {
    font-size: 40px;
}
th, td {
    border: 1px solid black;
    padding: 3px;
    max-width: 50px;
    min-width: 15px;
  }

  caption {
      font-size: 20px;
      font-weight: bold;
      display: block;
  }
 